
nav {
    background-color: #333;
    color: #fff;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Слайдер */
  .carousel .slide {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  .carousel .slide img {
    max-width: 100%;
    height: auto;
  }
  
  .carousel .slide h1 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  /* Футер */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  footer div {
    margin-bottom: 20px;
  }
  
  footer h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  footer p {
    margin-bottom: 10px;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0;
  }
  
  footer ul li {
    display: inline;
    margin-right: 10px;
  }
  
  footer ul li a img {
    max-width: 20px;
    height: auto;
  }